<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-helloworld" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>Helloworld</name><js-module name="Helloworld" src="www/Helloworld.js"><clobbers target="cordova.plugins.Helloworld" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="Helloworld"><param name="android-package" value="cordova-plugin-helloworld.Helloworld" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/Helloworld.java" target-dir="src/cordova-plugin-helloworld/Helloworld" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="Helloworld"><param name="ios-package" value="Helloworld" /></feature></config-file><source-file src="src/ios/Helloworld.m" /></platform></plugin>